





.calc{
    border: 8px solid black;
    background-color: whitesmoke;
    width:250px;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
    border-radius: 5%;

}


.answer{
    width: 92%;
    padding: 5px;
    background-color:white;
    color: black;
    margin: 2px;
    
}


.clearBtn,.perBtn,.squBtn ,.rootBtn{
    width: 22%;
    margin: 2px;
}

.btn{
    width: 22%;
    margin: 2px;
}

.trig{
    width: 22%;
    margin: 2px;
}

trig:hover{
    background-color: white;
}